<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{:C('MANAGE_LOGIN')}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>

<body>
<div class="content nextpage">
	<div class="container-fluid">
    <h1 style="text-align:center;">道路危险货物运输押运人员从业资格培训教学日志</h1><br/>  
     <div class="page-sub">
         <span>NO.</span>
     </div>
     <div class="Div"> 
      <table class="table-print print04" height="48">
        <tr>
          <td><h3>培训机构名称：{:C('MANAGE_LOGIN')}</h3></td>
          <td><strong>学员姓名：{$student.student_name}</strong></td>
          <td><h3>类别：危货驾驶员</h3></td>
        </tr>
      </table>
      </div>
      <div class="Div">      
      <table class="table-print print03"  height="48">
        <tr>
          <td>
       	  <strong>培训目标: </strong>
          了解我国道路危险货物运输的法律、法规和技术标准方面的基本知识，熟悉所运危险货物的安全知识；掌握常见危险货物的基本知识；熟练使用道路危险货物运输应急预案。</td>
        </tr>
      </table>
      </div>
      <div class="Div">      
      <table class="table-print print04">
        <tr>
          <td width="9%" rowspan="2" align="center" style=" line-height:28px;"><h3>理<br/>论<br/>知<br/>识</h3>
          学时：<br/>
          18</td>
          <td width="27%" align="center"><h3>教学项目</h3></td>
          <td width="64%" align="center"><h3>教学目标</h3></td>
        </tr>
        <tr>
          <td height="170" style="font-size:16px;" valign="middle">1.概述<br/>
          2.职业道德与道路危险货物运<br/>　输法规及技术标准简介教学<br/>　要求<br/>
          3.道路危险会务运输管理<br/>
          4.危险货物的分类与相关特性<br/>
          5.《危险货物品名表》及其适<br/>　用<br/>
          6.危险货物运输包装常识<br/>
          7.道路危险货物运输安全及应<br/>　急预案<br/>
          9.爆炸品特性及安全运输<br/>
          10.剧毒化学品特性及安全运输<br/>
          11.新技术应用推广篇<br/>
          </td>
          <td style="font-size:16px;" valign="middle">
          	1.了解道路危险货物的重要性<br/>
            2.了解道路危险货物运输从业人员社会责任与职业道德内容、要求及有关行<br/>　政法规体系；技术标准体系和主要要求。<br/>
            3.了解道路危险货物运输企业资质要求、管理的特点、管理的内容、行业管<br/>　理的内容。<br/>
            4.了解货物物理及化学特性、分类及品名编号、实义及特性。<br/>
            5.熟悉《危险货物品名表》的结构和作用、危险货物运输的限制与相关免除<br/>
            6.了解危险货物运输包装基本要求、分类、标志及英文标识<br/>
            7.熟悉道路危险货物运输托运人责任、承运人责任运输受理及相关文件。<br/>
            8.掌握道路危险货物安全运输的方法，危险源的识别，了解制定事故应急预<br/>　案的原则；指导思想和基本内容。<br/>
            9.了解爆炸品物理及化学特性、分类及定义和特性<br/>
            10.了解剧毒化学品物理及化学特性、分类及品名编号和定义及特性<br/>
            11.了解在道路危险货物运输行业中，一些先进技术和产品。<br/>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="table-body">
          <table class="table-print">
            <tr>
              <td width="90" align="center">次数/日期</td>
              <td>1/</td>
              <td>2/</td>
              <td>3/</td>
              <td>4/</td>
              <td>5/</td>
              <td>6/</td>
              <td>7/</td>
              <td>8/</td>
            </tr>
            <tr>
              <td align="center">教学项目</td>
              <td align="center">1-2/</td>
              <td align="center">3-4/</td>
              <td align="center">5-6/</td>
              <td align="center">7-8/</td>
              <td align="center">9-10/</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">所用学时</td>
              <td align="center">8</td>
              <td align="center">4</td>
              <td align="center">3</td>
              <td align="center">3</td>
              <td align="center">4</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">学员签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">教练员评<br/>价及签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
      </div>
      <div class="Div">      
      <table class="table-print print04">
        <tr>
          <td width="12%" rowspan="2" align="center" style="line-height:28px;"><h3>专业<br/>知识<br/>应用</h3>
          学时：<br/>
          14</td>
          <td width="24%" align="center" height="20"><h3>教学项目</h3></td>
          <td width="64%" align="center" height="20"><h3>教学目标</h3></td>
        </tr>
        <tr>
          <td height="130" style="font-size:16px;" valign="middle">
          1.道路危险货物运输驾驶<br/>　员基本要求<br/>
          2.道路危险货物运输车辆<br/>　基本要求。<br/>
          3.道路危险货物运输安全<br/>　及事故应急措施。<br/>
          4.道路危险货物运输事故<br/>　典型案例分析
          </td>
          <td style="font-size:16px;" valign="middle">
            1.熟悉道路危险货物运输驾驶人职业要求<br/>
            2.了解道路危险货物运输车辆类型；基本要求和车辆安全设施。<br/>
            3.熟悉道路危险货物运输安全及事故应急措施、低碳、环保、节能等新技术<br/>　应用<br/>
            4.了解典型案例发生的基本过程、原因分析以及给予的经验与教训，危险源<br/>　的识别与御防性驾驶。
          </td>
        </tr>
        <tr>
          <td colspan="3" class="table-body">
          <table class="table-print">
            <tr>
              <td width="113" align="center">次数/日期</td>
              <td width="124">1/</td>
              <td width="147">2/</td>
              <td width="147">3/</td>
              <td width="147">4/</td>
              <td width="147">5/</td>
              <td width="57">6/</td>
            </tr>
            <tr>
              <td align="center">教学项目</td>
              <td>1/</td>
              <td>2/</td>
              <td>3/</td>
              <td>4/</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">所用学时</td>
              <td align="center">2</td>
              <td align="center">3</td>
              <td align="center">6</td>
              <td align="center">3</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">学员签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">教练员评<br/>价及签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>  
      
      </div>
      <div class="Div">      
      <table class="table-print print04">
        <tr>
          <td colspan="2" height="50">考核意见：
          <p style="text-align:right; margin:0;">考核人签字：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="180" height="30">培训机构审核意见：</td>
          <td style="vertical-align:bottom;" align="right">(盖章)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
      </table>
      </div>
   </div>
</div>   

    

</body>
</html>
