<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{:C('MANAGE_LOGIN')}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>

<body>
<div class="content nextpage">
	<div class="container-fluid">
    <h1 style="text-align:center;">经营性道路危货运输从业资格考试申请表</h1><br/><br/>
        <table class="table-print table-fx">
                <tr>
                  <td class="tdleft">姓名</td>
                  <td style=" white-space:nowrap">&nbsp;{$student.student_name}</td>
                  <td class="tdnowrap">性别</td>
                  <td>&nbsp;{$student.sex}</td>
                  <td class="tdnowrap">学历</td>
                  <td>&nbsp;{$student.education}</td>
                  <td rowspan="4" width="149">
                  	<img src="{$student.imgurl|default='__PUBLIC__/images/user.jpg'}" height="198" width="149">
                  </td>
                </tr>
                <tr>
                  <td class="tdleft">住址</td>
                  <td colspan="3">&nbsp;{$student.address}</td>
                  <td class="tdnowrap">(手机)</td>
                  <td>&nbsp;{$student.tel1}</td>
                 
                </tr>
                <tr>
                  <td class="tdleft">工作单位</td>
                  <td colspan="3">&nbsp;{$student.work_unit}</td>
                   <td class="tdnowrap">(电话)</td>
                  <td>&nbsp;{$student.tel2}</td>
                </tr>
                <tr>
                  <td class="tdleft">身份证号</td>
                  <td colspan="2">&nbsp;{$student.idcard}</td>
                  <td align="center" width="120">培训单位</td>
                  <td colspan="2">&nbsp;{$student.train_unit}</td>
                </tr>
                <tr>
                  <td class="tdleft">驾驶证准驾车型</td>
                  <td colspan="2">&nbsp;{$student.drive_allow_car}</td>
                  <td align="center" colspan="2">初领驾驶证日期</td>
                  <td colspan="2">&nbsp;{$student.first_drive_date}</td>
                </tr>
                 <tr>
                  <td class="tdleft">报考细分类别</td>
                  <td colspan="6">&nbsp;{$student.apply_detail_type}</td>
                </tr>
                <tr>
                  <td class="tdleft">原从业证资格证号</td>
                  <td colspan="6">&nbsp;{$student.obtain_code}</td>
                </tr>
                <tr>
                  <td class="tdleft">申请类别</td>
                  <td colspan="6">&nbsp;{$student.apply_category}</td>
                </tr>
                <tr>
                  <td class="tdleft">材料清单</td>
                  <td colspan="6" class="table-check" height="140">
                  	<table>
                       <tr>
                            <td><label>身份证号原件 <input type="checkbox" name="checkbox1" id="checkbox1"   <?php if(in_array("身份证号原件", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                            <td><label>身份证明复印件 <input type="checkbox" name="checkbox2" id="checkbox2"  <?php if(in_array("身份证明复印件", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                            <td><label>驾驶证复印件 <input type="checkbox" name="checkbox7" id="checkbox7"  <?php if(in_array("驾驶证复印件", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                          </tr>
                          <tr>
                            <td><label>原从业资格证原件 <input type="checkbox" name="checkbox4" id="checkbox4"  <?php if(in_array("原从业资格证原件", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                            <td><label>原从业资格证复印件 <input type="checkbox" name="checkbox5" id="checkbox5"  <?php if(in_array("原从业资格证复印件", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                            <td><label>学历证明 <input type="checkbox" name="checkbox6" id="checkbox6"  <?php if(in_array("学历证明", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                        </tr>
                        <tr>
                            <td><label>驾驶证原件 <input type="checkbox" name="checkbox3" id="checkbox3"  <?php if(in_array("驾驶证原件", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                            <td><label>无重大以上责任事故记录证明 <input type="checkbox" name="checkbox8" id="checkbox8"  <?php if(in_array("无重大以上责任事故记录证明", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                            <td><label>居住地证明 <input type="checkbox" name="checkbox9" id="checkbox9"  <?php if(in_array("居住地证明", explode(',',$student['bill_materials']))): ?>checked<?php endif; ?> /> </label></td>
                           </tr>
                       </table>
                  </td>
                </tr>
                <tr>
                  <td class="tdleft">承诺</td>
                  <td colspan="6" class="table-noborder">                    
                    <table>
                        <tr>
                            <td height="90" align="center" colspan="2"> 本人承诺上述所有内容真实、有效、并承担由此产生的法律责任。</td>
                          </tr>
                          <tr>
                            <td height="40" align="center">本人签字：</td>
                            <td>日期：</td>
                        </tr>
                       </table>　　　　　　　　
                  </td>
                </tr>
                <tr>
                  <td colspan="7" class="table-body">
                  <table>
                    <tr>
                      <td width="166" rowspan="2" class="tdleft">考<br/>试<br/>记<br/>录</td>
                      <td colspan="2" align="center">成绩</td>
                      <td colspan="2" align="center">考核员</td>
                      <td width="226" align="center">考核员</td>
                    </tr>
                    <tr>
                      <td align="center">理论</td>
                      <td width="113" align="center">&nbsp;</td>
                      <td colspan="2">&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center">考试成绩</td>
                      <td width="111" align="center">本人签字</td>
                      <td colspan="2">&nbsp;</td>
                      <td width="174" align="center">日期</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td class="tdleft">道路运输<br/>管理机构意见</td>
                  <td colspan="6" align="right">（盖章）　　　<br/>　<br/>
                  年　　月　　日　
                  </td>
                </tr>
            </table>
   </div>
</div>   

    

</body>
</html>
