<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{:C('MANAGE_LOGIN')}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>

<body>
<div class="content nextpage">
	<div class="container-fluid">
    <h1 style="text-align:center;">道路客货运输驾驶员从业资格培训教学日志</h1><br/>  
     <div class="page-sub">
         <span>NO.</span>
         　括号中标注“（客）”者——仅作为道路旅客运输驾驶员的教学项目或学时。
     </div>
     <div class="Div"> 
      <table class="table-print print03" height="48">
        <tr>
          <td><h3>培训机构名称：{:C('MANAGE_LOGIN')}</h3></td>
          <td><strong>学员姓名：{$student.student_name}</strong></td>
          <td><h3>类别：旅客运输</h3></td>
        </tr>
      </table>
      </div>
      <div class="Div">      
      <table class="table-print print03"  height="48">
        <tr>
          <td>
       	  <strong>培训目标: </strong>
          树立驾驶员的社会责任，培养驾驶员的职业道德，熟知道路运输驾驶员的行为要求；掌握道路运输从业相关法律、法规和道路运输专业知识；养成安全、文明行车意识、掌握各种环境和条件下安全驾驶、应急处置的方法；了解汽车使用技术知识；掌握汽车常见故障的识别方法；培养专业知识应用能力；</td>
        </tr>
      </table>
      </div>
      <div class="Div">      
      <table class="table-print print03">
        <tr>
          <td width="9%" rowspan="2" align="center" style=" line-height:28px;"><h3>理<br/>论<br/>知<br/>识</h3>
          学时：<br/>
          42(客)</td>
          <td width="27%" align="center"><h3>教学项目</h3></td>
          <td width="64%" align="center"><h3>教学目标</h3></td>
        </tr>
        <tr>
          <td height="170">1.驾驶员的社会责任、职业<br/>　道德和职业心理<br/>
          2.道路运输从业相关法律、<br/>　法规<br/>
          3.道路运输知识<br/>
          4.安全意识与安全行车<br/>
          5.汽车使用技术
          </td>
          <td>
          	1.树立驾驶员的社会责任，培养驾驶员的职业道德，熟知道路运输<br/>　驾驶的行为要求。了解驾驶员心理健康知识，了解驾驶员心理调<br/>　节方法;<br/>
            2.熟练掌握道路运输相关法律、法规的有关内容；<br/>
            3.掌握道路运输专业知识；<br/>
            4.养成安全、文明行车意识，掌握各种环境和条件下安全驾驶和应<br/>　急处置方法；<br/>
            5.了解汽车使用技术知识
          </td>
        </tr>
        <tr>
          <td colspan="3" class="table-body">
          <table class="table-print">
            <tr>
              <td width="90" align="center">次数/日期</td>
              <td>1/</td>
              <td>2/</td>
              <td>3/</td>
              <td>4/</td>
              <td>5/</td>
              <td>6/</td>
              <td>7/</td>
              <td>8/</td>
            </tr>
            <tr>
              <td align="center">教学项目</td>
              <td align="center">职业道德、法规</td>
              <td align="center">道路运输知识</td>
              <td align="center">安全意识</td>
              <td align="center">汽车技术</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">所用学时</td>
              <td align="center">8</td>
              <td align="center">5</td>
              <td align="center">17</td>
              <td align="center">12</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">学员签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">教练员评<br/>价及签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
      </div>
      <div class="Div">      
      <table class="table-print print03">
        <tr>
          <td width="12%" rowspan="2" align="center" style="line-height:28px;"><h3>应用<br/>能力</h3>
          学时：<br/>
          10(客)</td>
          <td width="19%" align="center"><h3>教学项目</h3></td>
          <td width="69%" align="center"><h3>教学目标</h3></td>
        </tr>
        <tr>
          <td height="155">1.车辆安全检视<br/>
          2.旅客急救(客)<br/>
          3.危险源辨识与防<br/>　御驾驶<br/>
          4.节能驾驶<br/>
          5.综合复习与考核
          </td>
          <td>
          	1.掌握车辆外观、发动机舱、客车车厢(客)、驾驶室内部(货)、发动机起<br/>　动后及行车中、收车后的车辆安全检视内容和方法；<br/>
            2.掌握车辆后轮外侧轮胎的拆卸、安装及千斤顶的使用方法；<br/>
            3.掌握车辆在各种天气条件和道路环境下的危险源辨识与防御性驾驶方<br/>　法；<br/>
            4.掌握车辆运行过程中的节能驾驶要领；<br/>
            5.掌握专业知识应用能力
          </td>
        </tr>
        <tr>
          <td colspan="3" class="table-body">
          <table class="table-print">
            <tr>
              <td width="113" align="center">次数/日期</td>
              <td width="124">1/</td>
              <td width="147">2/</td>
              <td width="147">3/</td>
              <td width="147">4/</td>
              <td width="147">5/</td>
              <td width="57">6/</td>
            </tr>
            <tr>
              <td align="center">教学项目</td>
              <td align="center">安全检视</td>
              <td align="center">旅客急救</td>
              <td align="center">危险知识</td>
              <td align="center">节能驾驶</td>
              <td align="center">综合复习</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">所用学时</td>
              <td align="center">2</td>
              <td align="center">4</td>
              <td align="center">2</td>
              <td align="center">1</td>
              <td align="center">1</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">学员签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">教练员评<br/>价及签字</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>  
      
      </div>
      <div class="Div">      
      <table class="table-print print03">
        <tr>
          <td colspan="2" height="58">考核意见：
          <p style="text-align:right; margin:0;">考核人签字：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="180" height="30">培训机构审核意见：</td>
          <td style="vertical-align:bottom;" align="right">(盖章)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
      </table>
      </div>
   </div>
</div>   

    

</body>
</html>
