<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>...</title>
<link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/goaler.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
</head>

<script type="text/javascript">
$(function(){
	
});


//删除
function doDelete(){
	var ids = getId('delete'); 
	if(ids==false){
		return;
	}
	//alert(ids);
	if(confirm("确定删除吗？")){
	location.href='__URL__/delete?ids='+ids;
	}
}

//重置密码
function doResetPWD(){
	var ids = getId('delete'); 
	if(ids==false){
		return;
	}
	//alert(ids);
	if(confirm("重置后密码为1，确定吗？")){
	   location.href='__URL__/resetPWD?ids='+ids;
	}
}


//条件查询
function doSearch(){
	$('#formQuery').submit();
}


</script>
<body>
<div id="div_right">
	<div class="right_top">
					<span>学员管理</span>
				</div>
				<div class="title">
					<a href="__URL__/registerUI"  class="btn btn-green">新增</a> 			
					<a href="javascript:doDelete()" class="btn btn-red">删除</a> 
					<div style="float: right">
						<form action="__URL__/registerMain" id="formQuery" method="get">							
						姓名：<input type="text" name="register_name" value="{$register_name}" />
						<a href="javascript:doSearch()" class="btn btn-bule">查询</a> 
						</form>
					</div>
				</div>
				<!-- 
				style="height:400px;overflow:auto;"
				 -->
		<div class="develop"  >
					<table width="100%" border="0" class="mtable">
						<tr>
							<th class="thcheckbox" width="3%" ><input type="checkbox"
								name="checkbox" id="checkbox" onclick="checkAll(this);" ></th>
							<th width="10%" >姓名</th>
							<th width="5%" >性别</th>
							<th width="5%" >学历</th>
							<th width="15%" >身份证号</th>
							<th width="20%" >培训单位</th>
							<th width="10%" >申请种类</th>
							<th width="10%" >操作</th>
						</tr>
					<tbody id="goaler">
						
						<empty name="registerList">
							<tr>
								<td colspan="10" align="center"><font color="red">暂无数据</font></td>
							</tr>
						</empty>
						
						<foreach name="registerList" item="vo" >  
							  <tr id="{$vo.id }">
						         <td class="thcheckbox"><input type="checkbox" name="chk" id="chk" onclick="selTr(this);" ></td>
						         <td>{$vo.register_name}</td>
						         <td>{$vo.sex}</td>
						         <td>{$vo.education}</td>
						         <td>{$vo.idcard}</td>						 					         
						         <td>{$vo.train_unit}</td>						 					         
						         <td>{$vo.register_type}</td>						 					         
						         <td>
						         	<a href="__URL__/registerUI?id={$vo.id}">编辑</a>&nbsp;
						         	<a href="__URL__/seeUI?id={$vo.id}">查看</a>&nbsp;
						         	
						         </td>						 					         
						      </tr>
					    </foreach>
						
					</tbody>
					</table>
		</div>
				{$page}
</div>
</body>
</html>