<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{:C('MANAGE_LOGIN')}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/sysGeneral.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/systemUtils.js"></script>
</head>
<script type="text/javascript">
$(function(){
	
});



//提交表单
function submitForm(){
	
	$('#form1').submit();
}


</script>
<body>
     <!-- 顶部固定条 -->
   <include file="Public/top" />
    
  	<div class="content">
        <div class="container-fluid">
                     
        <!-- <div class="btn-toolbar">
            <a class="btn btn-default" href="__APP__/Manage/Index/index">回到列表页</a>    	
        </div> -->
        
<div class="well">
        <form action="__APP__/Manage/User/setPower"  id="form1" method="post">
        <div class="block-body">
        	<input type="hidden" name="id" value="{$user.id}" />    	
            <input type="hidden" name="power[]" value="0">
        <fieldset>
        <legend> 用户权限管理</legend>        
           	<table class="table-add">
            	<tr>
                	<td class="tdleft" >用户 </td>
                	<td >{$user.cnname} </td>
                </tr>
                 <tr>
                	<td class="tdleft"><label>设置权限</label></td>
                    <td  style="padding:20px;">
                        <span class="col-xs-4"><label for="power1"> <input type="checkbox" id="power1" name="power[]" value="学员信息管理"  <?php if(in_array("学员信息管理", explode(',',$user['power']))): ?>checked<?php endif; ?> /> 学员信息管理</label></span>
                        <span class="col-xs-4"><label for="power3"> <input type="checkbox" id="power3" name="power[]" value="用户管理" <?php if(in_array("用户管理", explode(',',$user['power']))): ?>checked<?php endif; ?> /> 用户管理</label></span>
                        <span class="col-xs-4"><label for="power2"> <input type="checkbox" id="power2" name="power[]" value="查询统计" <?php if(in_array("查询统计", explode(',',$user['power']))): ?>checked<?php endif; ?> /> 查询统计</label></span>
                     </td>
                </tr>
            </table>
        </fieldset>
        </div>
        
        </form>
        
        <p style="text-align:center;">
            <!-- <button class="btn btn-primary" onclick="resetForm()"><img src="__PUBLIC__/images/icon/refresh.png"/> 重置</button> 　 -->
            <button class="btn btn-primary" onclick="submitForm()"><img src="__PUBLIC__/images/icon/folder__simple.png"/> 保存</button>　
            <button class="btn btn-primary" onclick="javascript:history.back();"><img src="__PUBLIC__/images/icon/double.png"/> 返回</button>
        </p>
</div>   
              
 
    </div>
    </div>

</body>
</html>
